<template>
    <div>
        <pokemonlist :pokemons="getPokemons">
        </pokemonlist>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import PokemonList from './PokemonList.vue';

    export default {
        methods: {
            ...mapActions(['fetchPokemons'])
        },
        computed: {
            ...mapGetters(['getPokemons'])
        },
        created() {
            this.fetchPokemons(this)
        },
        components: {
            Pokemonlist: PokemonList
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
