<template>
    <div>
        <b-table
                striped
                hover
                :items="pokemons"
                :fields="fields"
        >
            <template slot="actions" slot-scope="{item: {id}}">
                <div>
                    <button @click="onPokemonRemove(id)">delete poke</button>
                </div>
            </template>
        </b-table>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';

    export default {
        data() {
            return {
                fields: [
                    {key: 'id', label: 'PokeId'},
                    {key: 'name', label: 'Name'},
                    {
                        key: 'type',
                        label: 'Type',
                        formatter: (value) => value.charAt(0).toUpperCase() + value.substring(1, value.length).toLowerCase()
                    },
                    {key: 'actions', label: 'Actions'}
                ],
            }
        },
        props: {
            pokemons: Array
        },
        methods: {
            ...mapActions(['removePokemon']),
            onPokemonRemove(id) {
                this.removePokemon(id);
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
